extends ../layout
block content 
	section 
		if (user)
			form.auth-form(action="", method="POST") 
				.form-group
					label(for="admin") Administrator:
					input#admin.form-control(
						type="password",
						name="admin",
						required="true",
						value="",
						placeholder="Enter the admin password here"
					)
				button.form-control(type="submit") Submit
				p.text-success #{ success_msg }
				if (errors)
					.errors-container
						ul
							each error in errors 
								li!= error.msg

		else
			p #[strong You need to log in first to view this!] 
				a(href="/") click here to go back.