extends ../layout
block content
	section
		if (user.admin)
			form.delete-form(method="POST", action="")
				h3 #[strong Do you really want to delete this message?]
				p Message title: #{ message.title }
				.form-group
					input#message_id.form-control(
						type="hidden",
						name="message_id",
						required="true",
						value=message._id
					)

				button.btn-delete(type="submit") Delete
		else 
			h1 #[strong Note:]
			p You are not authorized to view this page!
